<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--对应打印机中的纸张规格。如果是条码打印机则支持50x30的格式（x是X的小写），如果不存在条码可以创建该纸张。如果不是条码打印机，如果不存在则用默认纸张-->
		<add key="PaperSpec" value="A4" />
		<!--单位是mm-->
		<add key="BarcodeWidth" value="30" />
		<!--单位是mm-->
		<add key="BarcodeHeight" value="30" />
		<!--BarcodeX和BarcodeY值的单位是像素-->
		<add key="BarcodeX" value="10" />
		<add key="BarcodeY" value="10" />
	</appSettings>
</configuration>