<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conn" connectionString="Server=000.000.000.000;Database=SupplierManagement;User Id=xx;Password=XXXX;Encrypt=True;TrustServerCertificate=True;"/>
		<!--<add name="conn" connectionString="Server=.;Database=SupplierManagement;User Id=sa;Password=110119;Encrypt=True;TrustServerCertificate=True;"/>-->
	</connectionStrings>
</configuration>